*{
    font-family: Arial, Helvetica, sans-serif;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-color: #F5F7FA;
    color: #333333;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    
}

header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid black;
}

header h1{
    font-size:50px;
    height: 50px;
}

nav{
    display: flex;
    align-items: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: gray;
}

nav a:hover{
    color: #D9D9D9; 
    background-color:#333333;
    border-radius: 50px;
}

nav ul li a{
    padding: 20px 20px;
}

footer {
    margin-top: 30px;
    background-color: #D9D9D9;
    padding: 10px;
}

footer li {
    background-color: #D9D9D9;
    text-align: center;
    list-style: none;
}

main{
    flex: 1;
}

/* -------------------- */

.contatoform {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    margin: auto;
}

.contatoform label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
    background-color: #f9f9f9;

}

.contatoform input, .contatoform textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-size: 14px;
    box-sizing: border-box;
    background-color: rgba(227, 227, 227, 0.45);
}

.contatoform button {
    margin-top: 15px;
    padding: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#msg {
    height: 200px;
    vertical-align: top;
    padding: 10px;
}

#enviarbtn{
    background-color: #4CAF50;
}

#enviarbtn:hover {
    background-color: #367739;
}

#cancelarbtn{
    background-color: #f44336;
}

#cancelarbtn:hover {
    background-color: #75241e;
}

section h1{
    text-align: center;
    margin: 30px;
}

/* -------------------- */


@media screen and (max-width: 600px) {
    html{

    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }
    header h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    nav ul li a {
        display: block;
        padding: 10px 15px;
    }
}

@media screen and (min-width: 600px) {
    header {
 
        align-items: flex-start;
    }
    header h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    nav ul li a {
        display: block;
        padding: 10px 15px;
    }
}

@media (min-width: 768px) {
    header {
 
        align-items: flex-start;
    }
    header h1 {
        font-size: 36px;
        margin-bottom: 10px;
    }
    nav ul li a {
        display: block;
        padding: 10px 15px;
    }
    .integrantes-item{
        padding-bottom: 80px;
    }
}

@media (min-width: 992px) {
    body {
        font-size: 17px;
  }
}

@media (min-width: 1300px) {
    body {
        font-size: 18px;
    }
    .integrantes-item{
        margin: 30px;
    }
}
